---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout title="Fairclouds">
	<main>
		<div class="max-w-5xl p-4 min-h-screen">
			<h2>
				<span class="text-base">EN</span> This is an invitation to imagine together
				how digital and physical clouds are interlinked in water cycles and how cities
				can be reimagined. Towards a collaborative artwork with and in solidarity
				with the communities of Salinas Grandes and Laguna de Guayatayoc, Jujuy,
				Argentina, that are struggling against lithium extraction on their ancestral
				lands.
			</h2>
			<button class="rounded-full bg-grey py-2 px-5">Enter</button>
			<h2 class="text-grey">
				<span class="text-base">ES</span> Se trata de una invitación a imaginar juntos
				cómo las nubes digitales y físicas se interrelacionan en los ciclos del agua
				y cómo se pueden reimaginar las ciudades. Hacia una obra de arte colaborativa
				con y en solidaridad con las comunidades de Salinas Grandes y Laguna de Guayatayoc,
				Jujuy, Argentina, que luchan contra la extracción de litio en sus tierras
				ancestrales.
			</h2>
		</div>
		<Map />
	</main>
</Layout>
