---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test">
  <main>
    <div class="max-w-5xl p-4 min-h-screen">
      <h1>Test SSR page</h1>
    </div>
  </main>
</Layout>
