---
import directus from "../../../lib/directus";
import { readItems } from "@directus/sdk";
import { getLangFromUrl } from "../../../i18n/utils";
import Layout from "../../../layouts/Layout.astro";
import FAQSidebar from "../../../components/FAQSidebar.astro";

export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}

const lang = getLangFromUrl(Astro.url);
// get lastest article and redirect to it

const pages = await directus.request(
  readItems("wiki", {
    deep: {
      translations: {
        _filter: {
          _and: [
            {
              languages_code: { _eq: lang },
            },
          ],
        },
      },
    },
    fields: ["*", { translations: ["*"] }],
  }),
);
---

<Layout title="Fairclouds" theme="white">
  <div class="flex gap-28 justify-between px-4 py-2.5">
    <FAQSidebar pages={pages} lang={lang} />
  </div>
</Layout>
