---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
import directus from "../lib/directus";
import Blocks from "./Blocks.astro";

const currentLang = getLangFromUrl(Astro.url);

import { readSingleton } from "@directus/sdk";

const about = await directus.request(
  readSingleton("home", {
    deep: {
      translations: {
        _filter: {
          _and: [
            {
              languages_code: { _eq: currentLang },
            },
          ],
        },
      },
    },
    fields: [{ translations: ["about"] }],
  }),
);

const aboutContent = about.translations[0].about?.blocks;
const isValidContent = aboutContent && aboutContent.length > 0;
---

<div>
  {isValidContent && <Blocks content={aboutContent} />}
</div>
