---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
---

<ul class="flex gap-2">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li class={currentLang != lang ? "opacity-60" : ""}>
        <a href={`/${lang}/`}>{label}</a>
      </li>
    ))
  }
</ul>
