---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
---

<ul class="flex gap-2 items-center mt-1.5 language-picker">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li class={currentLang != lang ? "opacity-60" : ""}>
        <a href={`/${lang}/`}>{label}</a>
      </li>
    ))
  }
</ul>

<style>
  .language-picker {
    font-size: 1.75rem;
  }
</style>
