---
// dont prerender this component as we need to get fresh data from the api.
export const prerender = false;
---

<div
	class="w-full h-screen flex flex-col bg-blue-100 items-center justify-center"
>
	<span class="mb-8">MAP goes here</span>
	<a class="bg-grey rounded-full px-6 py-2" href="/checkout">Checkout</a>
</div>

<script>
	// fetch data from api

	// create map
</script>
