<div id="pixi-container"></div>

<script>
  import * as PIXI from "pixi.js";
  import { Viewport } from "pixi-viewport";

  const height = 982;
  const scaleFactor = 1.32;
  const drawings = [
    {
      id: "043",
      x: 42,
      y: 165,
      width: 336,
      height: 192,
    },
    {
      id: "001",
      x: 463,
      y: 261,
      width: 203,
      height: 148,
    },
    {
      id: "019",
      x: 637,
      y: 433,
      width: 252,
      height: 219,
    },
    {
      id: "006",
      x: 941,
      y: 174,
      width: 295,
      height: 144,
    },
    {
      id: "015",
      x: 1551,
      y: 300,
      width: 300,
      height: 200,
    },
  ];

  const app = new PIXI.Application();
  await app.init({
    width: window.innerWidth,
    height: window.innerHeight,
    backgroundColor: 0x1099bb,
  });
  document.body.appendChild(app.canvas);

  // Load the background image
  const bgTexture = await PIXI.Assets.load("/v3/bg.jpg");
  const bgSprite = new PIXI.Sprite(bgTexture);
  bgSprite.height = window.innerHeight;
  bgSprite.width =
    (bgSprite.texture.width / bgSprite.texture.height) * window.innerHeight;

  // Add pixi-viewport for smoother panning
  const viewport = new Viewport({
    screenWidth: window.innerWidth,
    screenHeight: window.innerHeight,
    worldWidth: bgSprite.width,
    worldHeight: bgSprite.height,
    events: app.renderer.events,
  });

  app.stage.addChild(viewport);

  // Set the bounds of the viewport
  viewport.clamp({
    left: 0,
    right: 4000,
    top: 0,
    bottom: 4000,
  });

  // Enable dragging
  viewport.drag({ direction: "x" }).decelerate().pinch({ percent: 2 });

  viewport.addChild(bgSprite);

  // Create a container for drawings
  let container = new PIXI.Container();

  viewport.addChild(container);

  const drawingTexture = await PIXI.Assets.load("/v3/drawing.png");

  // Load the drawing image

  drawings.forEach((drawing) => {
    let graphics = new PIXI.Sprite(drawingTexture);
    graphics.x = drawing.x;
    graphics.y = drawing.y;
    graphics.width = drawing.width;
    graphics.height = drawing.height;
    viewport.addChild(graphics);
  });
</script>
