<label class="flex items-center cursor-pointer">
  <input
    id="themeToggle"
    type="checkbox"
    value="accessible"
    class="sr-only peer"
  />
  <div
    class="relative w-[46px] h-6 sm:w-[81px] sm:h-[45px] bg-primary shadow-cloud rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:top-[2px] after:start-[3px] sm:after:top-[5px] sm:after:start-[6px] after:bg-white after:rounded-full after:w-5 after:h-5 sm:after:h-[35px] sm:after:w-[35px] after:transition-all"
  >
  </div>
  <span
    class="sr-only ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
    >Accessibility mode toggle me</span
  >
</label>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
  })();

  console.log(theme);

  if (theme === "accessible") {
    document.documentElement.classList.add("accessible");
    document.getElementById("themeToggle").checked = true;
  }

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("accessible");

    const isAccessible = element.classList.contains("accessible");
    localStorage.setItem("theme", isAccessible ? "accessible" : "normal");

    console.log(isAccessible);
    console.log(localStorage.getItem("theme"));
  };

  document
    .getElementById("themeToggle")
    .addEventListener("change", handleToggleClick);
</script>
