---
const { pages, lang } = Astro.props;
---

<aside class="hidden xl:block flex-col max-w-[441px] space-y-2.5">
  {
    pages.map((page) => (
      <a class="button static wiki-page" href={`/${lang}/wiki/${page.slug}`}>
        {page.translations[0].title}
      </a>
    ))
  }
</aside>

<style>
  .wiki-page {
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }
</style>
