---
// dont prerender as this page will be unique.
export const prerender = false;

import { getLangFromUrl } from "../../i18n/utils";

import Layout from "../../layouts/Layout.astro";
import Stripe from "stripe";

import CheckoutEmbed from "../../components/CheckoutEmbed.svelte";

const PUBLIC_STRIPE_KEY = import.meta.env.PUBLIC_STRIPE_KEY;
const { origin } = Astro.url;
const lang = getLangFromUrl(Astro.url);
---

<Layout title="Checkout ☁️ Fairclouds" theme="white">
  <div class="p-4">
    <h1>Checkout</h1>
    <CheckoutEmbed
      PUBLIC_STRIPE_KEY={PUBLIC_STRIPE_KEY}
      lang={lang}
      origin={origin}
      client:load
    />
  </div>
</Layout>
