---
import Layout from "../../layouts/Layout.astro";
import Map from "../../components/Map.astro";
import MapSVG from "../../components/MapSVG.astro";
import { getLangFromUrl } from "../../i18n/utils";
import directus from "../../lib/directus";
import { readSingleton } from "@directus/sdk";

export async function getStaticPaths() {
	const paths = [{ params: { lang: "en" } }, { params: { lang: "es" } }];

	return paths;
}

const home = await directus.request(
	readSingleton("home", {
		fields: [{ translations: ["intro"] }],
	}),
);

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Fairclouds">
	<main>
		<div class="max-w-5xl p-4 min-h-screen">
			<h2>
				<span class="text-base">{lang == "en" ? "EN" : "ES"}</span>
				{lang == "en" ? home.translations[0].intro : home.translations[1].intro}
			</h2>
			<button class="rounded-full bg-grey py-2 px-5">Enter</button>
			<h2 class="text-grey">
				<span class="text-base">{lang == "en" ? "ES" : "EN"}</span>
				{lang == "en" ? home.translations[1].intro : home.translations[0].intro}
			</h2>
		</div>
		<Map />
	</main>
</Layout>
