---
// Don't prerender as this page will be unique for each user.
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import Map from "../../components/Map.svelte";
import { getLangFromUrl } from "../../i18n/utils";
import directus from "../../lib/directus";
import { readItems, withToken, readMe } from "@directus/sdk";
import Timeline from "../../components/Timeline.astro";
import Cart from "../../components/Cart.svelte";
import { parse } from "cookie";

let currentUser = null;

// Read cookies from the incoming request
const cookies = parse(Astro.request.headers.get("cookie") || "");
const authToken = cookies.auth_token;

if (authToken) {
  try {
    currentUser = await directus.request(
      withToken(authToken,
        readMe({
          fields: [
            "*",
            "licenses.*",
            "licenses.price_id.id",
            "licenses.price_id.amount",
            "licenses.price_id.cloud_id",
            "licenses.price_id.cycle_id.id",
            "licenses.price_id.cycle_id.name",
            "licenses.price_id.cycle_id.start_date",
            "licenses.price_id.cycle_id.end_date",
            "licenses.price_id.cycle_id.prices_status",
            "licenses.price_id.cycle_id.renewal_active",
            "licenses.price_id.tier",
          ],
        })
      )
    );
  } catch (error) {
    console.error("Failed to fetch user or validate token:", error);
  }
}

const lang = getLangFromUrl(Astro.url);

const clouds = await directus.request(
  readItems("clouds", {
    fields: [
      "id",
      "name",
      "product_id",
      "x",
      "y",
      "width",
      "height",
      "drawings.id",
      "drawings.title",
      "drawings.image",
      "drawings.map_drawing",
      "prices.id",
      "prices.amount",
      "prices.cloud_id",
      "prices.cycle_id.id",
      "prices.cycle_id.name",
      "prices.cycle_id.start_date",
      "prices.cycle_id.end_date",
      "prices.cycle_id.prices_status",
      "prices.cycle_id.renewal_active",
      "prices.tier",
      "prices.price_id",
      "prices.licenses.id",
      "prices.licenses.steward",
      "prices.licenses.price_id",
    ],
  }),
);
---

<Layout fixed={true} logoOnMobile={false} title="Fairclouds">
  <main>
    <div
      class="hint absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50"
    >
      <span
        >Explore the cloudscape to discover the hidden drawings. Once uncovered,
        click to steward a cloud. As you return to a cloud, new drawings may
        appear.</span
      >
    </div>
    <div>
      <Map clouds={clouds} currentUser={currentUser} client:load />
      <div
        class="flex fixed right-0 bottom-0 w-full gap-4 p-4 z-20 justify-between"
      >
        <Timeline />
        <div class="has-hint">
          <a class="button h-full" target="_blank" href="https://cloudcities.org/draw"
            >Draw</a
          >
          <div role="tooltip" class="hint top-[0%] -mt-7 right-0 w-max">
            Contribute your own drawing
          </div>
        </div>

        <Cart client:load />
      </div>
    </div>
  </main>
</Layout>
