---
import Layout from "../../layouts/Layout.astro";
import MapV2 from "../../components/MapV2.astro";
import { getLangFromUrl } from "../../i18n/utils";

export async function getStaticPaths() {
  const paths = [{ params: { lang: "en" } }, { params: { lang: "es" } }];

  return paths;
}

const lang = getLangFromUrl(Astro.url);
---

<Layout fixed={true} title="Fairclouds">
  <main>
    <MapV2 />
  </main>
</Layout>
