---
// dont prerender as this page will be unique.
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import Stripe from "stripe";
import directus from "../../lib/directus";
import { createItem } from '@directus/sdk';

const stripe = new Stripe(import.meta.env.STRIPE_KEY);
const sessionID = Astro.url.searchParams.get("session_id");

let name, email;
if (sessionID !== null) {
  try {
    const session = await stripe.checkout.sessions.retrieve(sessionID);
    console.log(session)
    if (session.customer_details !== null) {
      ({ name, email } = session.customer_details);

      // Update the database on successful checkout
      // TODO: create new license for all cloud_ids found in session.metadata. make sure to set sort to the correct steward number.
      // const result = await directus.request(createItem('licenses', newLicense));
    } else {
      // Handle the case where customer_details is null
      console.error("customer_details is null");
    }
  } catch (e) {
    return Astro.redirect("/checkout");
  }
} else {
  // Handle the case where sessionID is null
  console.error("sessionID is null");
}
---

<Layout title="Thank you ☁️ Fairclouds">
  <div class="p-4">
    <h1>Thank you for your purchase, {name}!</h1>
    <p>We've sent a receipt to {email}.</p>
  </div>
</Layout>
