---
// dont prerender as this page will be unique.
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import Stripe from "stripe";

export const prenender = false;
const stripe = new Stripe(import.meta.env.STRIPE_KEY);
const sessionID = Astro.url.searchParams.get("session_id");

let name, email;
if (sessionID !== null) {
  try {
    const session = await stripe.checkout.sessions.retrieve(sessionID);
    if (session.customer_details !== null) {
      ({ name, email } = session.customer_details);
    } else {
      // Handle the case where customer_details is null
      console.error("customer_details is null");
    }
  } catch (e) {
    return Astro.redirect("/checkout");
  }
} else {
  // Handle the case where sessionID is null
  console.error("sessionID is null");
}
---

<Layout title="Thank you ☁️ Fairclouds">
  <div class="p-4">
    <h1>Thank you for your purchase, {name}!</h1>
    <p>We've sent a receipt to {email}.</p>
  </div>
</Layout>
