---
// dont prerender as this page will be unique.
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import Stripe from "stripe";
import directus from "../../lib/directus";
import { directusAdmin } from "../../lib/directus";
import { readItems, createItem } from '@directus/sdk';

const stripe = new Stripe(import.meta.env.STRIPE_KEY);
const BASE_URL = import.meta.env.PUBLIC_BASE_URL
const sessionID = Astro.url.searchParams.get("session_id");

let name, email, errorMessage = "";
let session,
    user_id,
    license_data,
    parsedLicenseData;
let checkoutIsProcessed;

if (sessionID !== null) {

  // Process checkout session
  try {
    session = await stripe.checkout.sessions.retrieve(sessionID);
    if (session.customer_details !== null) {
      ({ name, email } = session.customer_details);
      ({ user_id, license_data } = session.metadata || {});
      parsedLicenseData = license_data ? JSON.parse(license_data) : [];
    } else {
      // Handle the case where customer_details is null
      console.error("customer_details is null");
      errorMessage = "We were unable to retrieve your customer details. Please contact support.";
    }
  } catch (e) {
    console.error("Error during checkout processing:", e);

    // Customize the error message based on the error type
    if (e.code === "resource_missing") {
      errorMessage = "Your checkout session could not be found. Please try again.";
    } else if (e.code === "validation_error") {
      errorMessage = "There was an issue validating your purchase. Please contact support.";
    } else {
      errorMessage = "An unexpected error occurred. Please try again later.";
    }
  }

  if (user_id && parsedLicenseData?.length > 0) {
    // Mark prices as stewarded in Stripe to take them off the market
    try {
      await Promise.all(
        parsedLicenseData.map((data) =>
          stripe.prices.update(data.stripe_price_id, {
            metadata: { isStewarded: "true" },
          })
        )
      );
    }
    catch (e) {
      console.error("Error updating price metadata", e);
    }

    // Create licenses in the database
    try {
      // Check if licenses have already been created for this checkout session
      const existingLicenses = await directusAdmin.request(
        readItems("licenses", {
          filter: {
            checkout_session_id: {
              _eq: session.id,
            },
          },
        })
      );
      checkoutIsProcessed = existingLicenses.length !== 0

      if (!checkoutIsProcessed) {
        // Update the database on successful checkout
        const newLicenses = parsedLicenseData.map((data) => ({
          steward: user_id,
          price_id: data.directus_price_id,
          checkout_session_id: session.id,
        }));

        // Batch create new licenses
        const result = await directusAdmin.request(createItem('licenses', newLicenses));
        console.log("Created new licenses:", result);
      } else {
        console.log("Licenses have already been created for this checkout session:", existingLicenses);
      }
    } catch (e) {
      console.error("Error creating licenses:", e);
    }

    if (!checkoutIsProcessed) {
      // Send confirmation email
      try {
        console.log("sending confirmation email...");
        const response = await fetch(BASE_URL + "/api/send-mail", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email: email,
            templateId: import.meta.env.PURCHASE_CONFIRM_EMAIL_TEMPLATE,
            templateModel: {
              "user_name": name,
              "licenses": parsedLicenseData,
            }
          }),
        });

        if (!response.ok) {
          throw new Error("Error sending confirmation email");
        }
      } catch (e) {
        console.error("Error sending confirmation email:", e);
      }
    }
  }

// Handle the case where sessionID is null
} else {
  console.error("sessionID is null");
  errorMessage = "Invalid session ID. Please try again.";
}
---

<Layout title="Thank you ☁️ Fairclouds">
  <div class="p-4">
    {errorMessage ? (
      <div>
        <h2>Oops!</h2>
        <p>{errorMessage}</p>
      </div>
    ) : (
      <div class="space-y-4">
        <h1>Thank you for your purchase, {name}!</h1>
        <p>We've sent a receipt to {email}.</p>
        <p>Go to your dashboard to view your licenses and download cloud assets.</p>
        <div class="has-hint">
          <a class="button h-full" href="/en/dashboard"
            >Go to Dashboard
          </a>
        </div>
      </div>
    )}
  </div>

  <!-- Clear cart on client  -->
  <script>
    import { clearCart } from "../../cartStore";
    
    clearCart();
  </script>
</Layout>
